.donation:before {
  background-color: #ffd40d;
  content: "1";
  color: #000;
  width: 20px;
  height: 20px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  bottom: 10px;
  left: 51%;
  transform: translateX(-47%);
  z-index: 1;
  font-size: 10px;
}

.button {
  padding: 20px 40px;
  position: relative;
  border-radius: 12px;
  color: white;
  z-index: 111;
  height: 62px;
  display: inline-block;
  text-transform: capitalize;
}

.button:before {
  content: "";
  position: absolute;
  width: 94%;
  right: -8px;
  border: 3px solid #f3274c;
  height: 75px;
  border-radius: 12px;
  top: -6.5px;
  z-index: -1;
  transition: 0.3s ease-in-out;
}

.button:hover:before {
  width: 30%;
}
.cart-popup {
  position: absolute;
  right: -103px;
  top: 67px;
  width: 340px;
  background-color: #ffd40d;
  padding: 25px 25px 20px;
  transform: translateY(50px);
  -webkit-transform: translateY(50px);
  -moz-transform: translateY(50px);
  -o-transform: translateY(50px);
  opacity: 0;
  visibility: hidden;
  box-shadow: 2px 3px 35px 0px rgb(0 0 0 / 10%);
  -webkit-box-shadow: 2px 3px 35px 0px rgb(0 0 0 / 10%);
}
.cart-popup:before {
  content: "";
  width: 41%;
  height: 5px;
  position: absolute;
  left: 59.2%;
  top: -5px;
}
.show-cart {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -o-transform: translateY(0);
  border-radius: 30px;
  z-index: 11;
}
.cart-popup img {
  width: 75px;
}
.cart-popup .p-data h3 {
  font-size: 18px;
  color: #191919;
  margin-bottom: 5px;
  line-height: 28px;
}
.cart-popup .p-data {
  padding-left: 15px;
}
.cart-popup .p-data p {
  line-height: 25px;
}
.cart-popup ul li {
  margin-bottom: 18px;
}
.cart-popup ul li:not(:last-child) {
  border-bottom: 1px solid #00000014;
  padding-bottom: 15px;
}
.no-bottom {
  padding-bottom: 0;
}
.cart-popup ul li a:before {
  content: "";
  width: 25px;
  height: 25px;
  background-image: url(../public/img/remove.svg);
  background-repeat: no-repeat;
  position: absolute;
  top: -5px;
  left: -10px;
}
.cart-popup .cart-total {
  background-color: #eee;
  padding: 15px;
  margin-bottom: 10px;
}
.cart-popup .cart-total span {
  font-size: 18px;
  line-height: 25px;
  color: #222;
}
.cart-popup .cart-btns a {
  font-size: 16px;
  line-height: 25px;
  text-transform: uppercase;
}
.cart-popup .cart-btns a.checkout {
  border: 2px solid #ff3636;
}
.cart-popup .cart-btns a.checkout:hover {
  background-color: #f3274c;
  border: 2px solid #f3274c;
}
.cart-popup .cart-btns a {
  font-size: 16px;
  line-height: 25px;
  text-transform: uppercase;
  width: 50%;
  text-align: center;
  padding: 10px;
  border: 2px solid #909090;
}
.cart-popup .cart-btns a:not(:last-child) {
  margin-right: 8px;
}
.cart-popup .cart-btns a:hover {
  background-color: #000;
  border-color: #000;
  color: white;
}
.donation .light-bg img {
  border-radius: 0px;
}

/**************Code For the Form**********************/

.swal-title {
  font-size: 40px;
  font-weight: 600;
  color: #000;
  font-family: "Epilogue";
}

.swal-text {
  color: #666;
  font-family: "Epilogue";
  text-align: center;
  line-height: 23px;
}

.swal-modal {
  padding: 40px;
}

.swal-button-container {
  margin: 0 auto;
  text-align: center;
  display: block;
}

button.swal-button.swal-button--confirm {
  padding: 12px 26px;
}
button.swal-button.swal-button--confirm:hover {
  background: #000;
}

button.swal-button.swal-button--confirm {
  transition: 0.5s ease;
}
.swal-icon--success:after,
.swal-icon--success:before {
  content: none;
}

.swal-icon--success__hide-corners {
  background: red;
  display: none;
}
.swal-button:focus {
  box-shadow: none;
}

button.close {
  float: right;
  border-radius: 40px;
  color: #fff;
  width: 40px;
  font-size: 25px;
  border-color: transparent;
  margin-top: -16px;
  margin-right: -15px;
}
.cart-popup {
  z-index: 9999;
}

.logo-white {
  padding: 40px;
  border-radius: 30px;
}
.logo-white p span {
  border-bottom: 1px solid;
}
.logo-white p {
  color: white;
  margin-top: 34px;
  margin-bottom: 30px;
}
.logo-white h6 {
  color: white;
  padding-top: 10px;
}
.link-about svg {
  padding-right: 10px;
  color: #555;
  font-size: 17px;
}
.link-about h3 {
  border-bottom: 6px solid #ffd40d;
  display: inline-block;
  text-transform: capitalize;
  margin-bottom: 40px;
}
.link-about i {
  padding-right: 10px;
  color: #555;
}
.link-about ul li {
  padding-bottom: 20px;
}
.link-about form input {
  width: 100%;
  height: 60px;
  border-radius: 10px;
  color: black;
  padding-left: 30px;
  border: 1px solid #dedede;
  margin-bottom: 26px;
  margin-top: 15px;
  outline: none;
}
button.button {
  border: 0;
}
.footer-bootem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 100px;
  padding-bottom: 40px;
  padding-top: 34px;
  border-top: 6px solid #ffd40d;
}
footer {
  background-image: url(../public/img/footer.png);
  background-color: #f5f8fd;
  background-size: cover;
  background-position: center;
  padding-top: 100px;
}

.cart-checkout a svg {
  width: 24px;
  margin-right: 14px;
}

.mobile-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 30%;
  height: 100%;
  background-color: #fff;
  padding: 50px 40px 15px;
  z-index: 5;
  transition: 0.45s ease-in-out;
  transform: translateX(-101%);
  -webkit-transform: translateX(-101%);
  -moz-transform: translateX(-101%);
  -o-transform: translateX(-101%);
  overflow-y: auto;
}
.mobile-nav ul li a svg {
  width: 11px;
}
.for #nav-icon4 {
  color: black;
}
#nav-icon4 span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}
#nav-icon4 span:nth-child(2) {
  top: 13px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}
.responsive-bar {
  display: none;
}
#nav-icon4 span:nth-child(3) {
  top: 25px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}
#nav-icon4.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: -3px;
  left: 8px;
}

#nav-icon4.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

#nav-icon4.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 35px;
  left: 8px;
}

i#nav-icon4 {
  display: none;
}
#nav-icon4 {
  width: 40px;
  height: 25px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  display: none;
  font-size: 25px;
  color: white;
}

#nav-icon4 span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}
.mobile-nav > ul > li.menu-item-has-children:before {
  content: "";
  background-image: url(../public/img/down-arrow.svg);
  background-repeat: no-repeat;
  position: absolute;
  top: 25px;
  right: 0;
  width: 10px;
  height: 10px;
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
}
.mobile-nav > ul > li.menu-item-has-children.active:before {
  background-image: url(../public/img/down-arrow-clr.svg);
  transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
}
.mobile-nav > ul > li {
  position: relative;
  border-bottom: 0px solid #d4d4d4;
  padding: 10px 0;
  display: block;
}
.mobile-nav > ul > li:not(:last-child) {
  border-bottom: 1px solid #000000;
}
.mobile-nav > ul li > a {
  font-size: 16px;
  line-height: 26px;
  text-transform: capitalize;
  color: black;
}
.mobile-nav > ul > li > a {
  font-size: 20px;
  line-height: 30px;
}
.mobile-nav > ul > li.menu-item-has-children > ul.sub-menu {
  padding-left: 25px;
  padding-top: 10px;
  padding-bottom: 5px;
  position: absolute;
  height: 0;
  opacity: 0;
  visibility: hidden;
  transform: translateX(15px);
  -webkit-transform: translateX(15px);
  -moz-transform: translateX(15px);
  -o-transform: translateX(15px);
  border-top: 1px solid #000;
  margin-top: 8px;
}
.mobile-nav > ul > li.menu-item-has-children.active > ul.sub-menu {
  position: relative;
  height: auto;
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -o-transform: translateX(0);
  transition-delay: 0.1s;
}
.mobile-nav > ul > li.menu-item-has-children.active > ul.sub-menu li {
  padding: 5px 0;
  position: relative;
}
.res-log img {
  width: auto;
}
.mobile-nav > ul > li.menu-item-has-children.active > ul.sub-menu li:before {
  content: "";
  width: 6px;
  height: 6px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  left: -13px;
}
.res-log {
  margin-bottom: 30px;
}
.mobile-nav .donation {
  display: flex;
  align-items: center;
  margin: 25px 0;
}
.mobile-nav .donation a:first-child {
  margin-right: 40px;
}
.mobile-nav .donation a.theme-btn {
  padding: 10px 30px;
}
.mobile-nav .donation a.cart {
  position: relative;
}
.mobile-nav .donation a.cart:before {
  content: "1";
  color: white;
  width: 25px;
  height: 25px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  top: -7px;
  right: -19px;
  z-index: 1;
  font-size: 13px;
}
.res-rights p {
  color: #d6d6d6;
  font-weight: bold;
  letter-spacing: 5px;
  margin-top: 30px;
}

.mobile-nav.open {
  transform: translateX(0) !important;
  z-index: 33333333;
  box-shadow: 3px 3px 39px -4px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 3px 3px 39px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 3px 3px 39px -4px rgba(0, 0, 0, 0.75);
}
li.menu-item-has-children.active {
  background-color: transparent;
}
.mobile-nav a#res-cross:before {
  content: "";
  width: 35px;
  height: 35px;
  background-image: url("../public/img/remove.svg");
  background-repeat: no-repeat;
  position: absolute;
  top: 15px;
  right: 20px;
}
.bar-menu i {
  color: black;
  background-color: transparent;
  font-size: 24px;
}
.responsive-bar-slider {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
header.one .bar-menu i {
  color: black;
}
header.one .bar-menu {
  display: none;
}
.logodata .owl-dots {
  display: none;
}
header.two .navbar-links li a {
  padding-bottom: 20px;
}

header.two {
  z-index: 1;
  position: absolute;
  width: 100%;
  padding: 15px;
  padding-top: 10px;
}
header.two .bar-menu i {
  color: black;
  display: none;
}
header.three .logo .bar-menu {
  display: none;
}
header.three .logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
button.apply-coupon {
  background-color: black;
  color: white;
  padding: 20px 40px;
  border: 0;
  border-radius: 10px;
}
button.update-cart {
  padding: 20px 40px;
  border-radius: 10px;
  border: 0;
  color: white;
  cursor: pointer;
}
button.update-cart:hover {
  background-color: black;
}
table.shop_table.table-responsive .coupon {
  margin-top: 20px;
  background-color: #f5f8fd;
}
.coupon-area .coupon button {
  width: 100%;
  border: 0;
  padding: 20px;
  background-color: black;
  color: white;
  border-radius: 10px;
}
@-webkit-keyframes ripple {
  70% {
    box-shadow: 0 0 0 20px rgb(255 212 13 / 25%);
  }

  100% {
    box-shadow: 0 0 0 0 rgb(255 212 13 / 25%);
  }
}

@keyframes ripple {
  70% {
    box-shadow: 0 0 0 20px rgb(255 212 13 / 25%);
  }

  100% {
    box-shadow: 0 0 0 0 rgb(255 212 13 / 25%);
  }
}

.hero-section {
  padding-top: 170px;
  padding-bottom: 40px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.featured-area h2,
.featured-area h5 {
  color: white;
  text-transform: capitalize;
}
.video i {
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid #fff;
  border-radius: 50%;
  margin-left: 45px;
  margin-right: 14px;
  -webkit-animation: ripple 3s infinite;
  animation: ripple 3s infinite;
}
.video a {
  color: white;
  display: flex;
  letter-spacing: 1px;
  align-items: center;
}
.featured-area h5 {
  padding-top: 20px;
  padding-bottom: 50px;
  line-height: 34px;
}
.featured-area h1 {
  font-size: 135px;
  text-transform: capitalize;
  color: #ffd40d;
  line-height: 185px;
  margin-top: -25px;
}
.featured-area h6 {
  color: white;
  font-size: 26px;
  text-transform: capitalize;
  padding-bottom: 45px;
  letter-spacing: 2px;
}
.featured-area {
  margin-bottom: 125px;
}
.slider-home-1 .owl-theme .owl-nav.disabled + .owl-dots {
  position: absolute;
  top: 90%;
  left: 14%;
  display: flex;
}
.slider-home-1 .owl-carousel.owl-theme.owl-loaded.owl-drag {
  margin-left: -1px;
}
.slider-home-1 .owl-theme .owl-dots .owl-dot.active span {
  background: transparent;
  border: 5px solid #ffd40d;
  padding: 4px;
  margin: 4px;
}
.slider-home-1 .owl-theme .owl-dots .owl-dot span {
  background: #ffffff;
  border: 7px solid #fff;
}
.owl-carousel .owl-item img {
  width: auto;
}
/* 6. weekly-special */
ul.star {
  display: flex;
  color: #ffd40d;
}
.bar-menu svg {
  font-size: 24px;
  margin-top: 0.1rem;
}

ul.star li svg {
  font-size: 22px;
  padding-right: 7px;
}
.weekly-special {
  align-items: center;
  border: 3px solid #ffd40d;
  display: flex;
  position: absolute;
  width: auto;
  margin-left: auto;
  padding: 20px 30px;
  border-radius: 30px;
  justify-content: space-between;
  background-color: #000000d4;
  z-index: 11;
  bottom: 27px;
  right: 15%;
}
.weekly-special img {
  margin-left: 20px;
}
section.slider-hero {
  position: relative;
}
.weekly-special sup {
  top: 0;
  font-size: 28px;
}
.weekly-special h5 {
  color: white;
  font-size: 22px;
  padding-top: 6px;
  padding-bottom: 14px;
}
.weekly-special h4 {
  color: white;
  font-size: 28px;
}
.weekly-special span {
  line-height: 14px;
  font-size: 14px;
  color: white;
  position: absolute;
  padding: 6px 10px;
  text-transform: capitalize;
  border-radius: 5px;
  top: -16px;
  right: 22px;
}

.section-discover-menu .nav-link svg {
  width: 70px;
  fill: #f3274c;
  display: block;
  margin: auto;
  margin-bottom: 15px;
  height: auto;
  margin-bottom: 5px;
}
.section-discover-menu .nav-link.active svg {
  fill: #fff;
}
.section-discover-menu .nav-pills .nav-link.active,
.section-discover-menu .nav-pills .show > .nav-link {
  color: #fff;
  padding: 30px;
  width: 190px;
  height: 190px;
  background-color: #f3274c;
  border-radius: 11px;
  border: 0;
  position: relative;
}
.section-discover-menu .nav-pills .nav-link.active:before {
  position: absolute;
  content: "";
  width: 94%;
  height: 40px;
  background-color: #f3274c;
  left: 6px;
  bottom: -19px;
  clip-path: polygon(49% 50%, 100% 50%, 50% 100%, 0% 50%);
}
.section-discover-menu .nav-pills .nav-link {
  text-transform: capitalize;
  background-color: #fff;
  padding: 30px;
  color: black;
  width: 190px;
  height: 190px;
  border-radius: 11px;
  border: 5px solid #e4e4e4;
  font-size: 22px;
  margin-left: 20px;
  text-align: center;
}
.section-discover-menu .nav-pills .nav-link svg:hover {
  transform: rotate3d(1, 1, 1, 360deg);
}
.section-discover-menu .nav.nav-pills {
  justify-content: center;
  margin-bottom: 60px;
}
/* 12. discover */
.discover h4 {
  font-size: 40px;
  text-transform: capitalize;
}
.discover span {
  font-size: 22px;
}
.discover h6 {
  font-size: 22px;
  padding-bottom: 5px;
}
.discover ul {
  margin-top: 25px;
}
.discover li:not(:last-child) {
  border-bottom: 1px dotted;
  padding-bottom: 15px;
  margin-bottom: 20px;
}
.discover li {
  display: flex;
  justify-content: space-between;
}
.discover-menu:before {
  content: "";
  width: 74%;
  height: 100%;
  background-color: #f5f8fd;
  position: absolute;
  z-index: 0;
  right: 0;
  border-radius: 30px;
}
.discover-menu {
  position: relative;
  padding: 10px 0px;
  width: 94%;
  margin: auto;
}

.heading-two {
  text-align: center;
  position: relative;
}
.heading-two .line {
  width: 270px;
  height: 12px;
  background-color: #ffd40d;
  border-radius: 26px;
  margin: auto;
  margin-bottom: 60px;
  margin-top: 10px;
}

.bbq {
  padding: 30px;
  padding-bottom: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 30px;
}
.bbr-price {
  background-color: #ffd40d;
  border-radius: 50%;
  width: 140px;
  height: 140px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 12px;
  transform: translateY(22px);
}
.bbq h2 {
  color: white;
}
.bbq p {
  color: white;
  font-size: 18px;
  line-height: 30px;
}
.bbr-price h3 {
  font-size: 32px;
}

section {
  padding: 70px 0;
}

.slider-hero {
  padding: 0 !important;
}

.recent-news {
  display: flex;
  align-items: center;
}
.recent-news img {
  border-radius: 20px;
  margin-right: 40px;
}
/* 20. follow */
.recent-news a span {
  border-radius: 5px;
  padding: 6px 10px;
  background-color: #ffd40d;
  display: inline-block;
  color: black;
}
.recent-news h3 {
  width: 80%;
  padding-top: 15px;
  padding-bottom: 20px;
  position: relative;
}
.recent-news h6 {
  color: #555;
}
.follow h2 {
  font-size: 50px;
  position: relative;
}
.follow {
  padding-top: 140px;
  padding-bottom: 203px;
  text-align: center;
  position: relative;
  background-position: center;
  background-size: cover;
}
.follow:before {
  width: 100%;
  height: 100%;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  background-color: white;
  opacity: 0.9;
}
.follow p {
  position: relative;
}
.follow .instagram-icon {
  width: 90px;
  position: relative;
  height: 90px;
  font-size: 50px;
  border-radius: 50%;
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  color: white;
  margin-bottom: 35px;
  background-color: #f3274c;
}

.app-foods {
  position: relative;
}
.app-foods:before {
  position: absolute;
  background-color: #f3274c;
  content: "";
  width: 900px;
  height: 340px;
  border-radius: 191px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  right: 0;
  top: 30%;
}
.manage-your-img {
  position: relative;
}
.download-from {
  display: flex;
  align-items: center;
  padding: 20px 40px;
  background-color: #f3274c;
  border-radius: 12px;
}
.download-from svg {
  font-size: 36px;
  margin-right: 14px;
}
.download-from svg,
.download-from h5,
.download-from span {
  color: white;
}
.download-from span {
  text-transform: uppercase;
  font-size: 12px;
}
.download-from.apple {
  background-color: black;
  margin-left: 20px;
}
/* 19. recent-news */
.recent-news {
  display: flex;
  align-items: center;
}
.recent-news img {
  border-radius: 20px;
  margin-right: 40px;
}

.bol {
  display: block;
  width: 15px;
  height: 15px;
  border: 5px solid #ffd40d;
  border-radius: 50%;
  margin-right: 12px;
}

ul.higher-reach li {
  font-size: 18px;
  font-family: "Epilogue";
  font-weight: 400;
  color: #555;
  display: flex;
  align-items: center;
  padding-bottom: 8px;
}
ul.higher-reach {
  margin-top: 30px;
}
ul.higher-reach li {
  font-size: 18px;
  font-weight: 500;
  color: #555;
  display: flex;
  align-items: center;
  padding-bottom: 8px;
}
ul.star li .star {
  font-size: 24px;
  padding-right: 7px;
}

/* 15. featured-dishes */
.featured-dishes {
  padding: 30px;
  border-radius: 30px;
  border: 5px solid #ffd40d;
}
.featured-dishes-img {
  text-align: center;
  position: relative;
}
.featured-dishes p {
  font-size: 28px;
  color: #555;
}
.featured-dishes h5 {
  padding-top: 5px;
  padding-bottom: 15px;
}
.featured-dishes-img img {
  position: relative;
}
.featured-dishes-img:before {
  content: "";
  width: 366px;
  background-color: #f3274c;
  height: 177px;
  position: absolute;
  border-radius: 112px;
  z-index: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.featured-dishes .featured-shopping-bag {
  width: 45px;
  height: 45px;
  padding: 12px;
  background-color: #ffd40d;
  border-radius: 10px;
  position: absolute;
  right: 20px;
  bottom: 20px;
}
.featured-dishes svg:hover {
  fill: white;
}
.featured-dishes {
  position: relative;
  margin: 12px;
  background-color: white;
}
.sale h6 {
  position: absolute;
  width: 60px;
  height: 60px;
  background-color: #ffd40d;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 12px;
  left: 12px;
}
.featured-dishes del {
  color: #555;
  font-size: 18px;
  margin-left: 10px;
}
.three-slider.owl-theme .owl-nav.disabled + .owl-dots,
.bratlee-slider.owl-theme .owl-nav.disabled + .owl-dots,
.dishes.owl-theme .owl-nav.disabled + .owl-dots,
.choosecategory.owl-theme .owl-nav.disabled + .owl-dots {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 60px;
}
.dishes.owl-carousel.owl-theme.owl-loaded.owl-drag {
  margin-left: -1px;
}
.three-slider.owl-theme .owl-dots .owl-dot.active span,
.bratlee-slider.owl-theme .owl-dots .owl-dot.active span,
.dishes.owl-theme .owl-dots .owl-dot.active span,
.choosecategory.owl-theme .owl-dots .owl-dot.active span {
  background: transparent;
  border: 5px solid #f3274c;
  padding: 4px;
  margin: 4px;
}
.bratlee-slider.owl-theme .owl-nav.disabled + .owl-dots {
  justify-content: flex-start;
}
.three-slider.owl-theme .owl-dots .owl-dot span,
.bratlee-slider.owl-theme .owl-dots .owl-dot span,
.dishes.owl-theme .owl-dots .owl-dot span,
.choosecategory.owl-theme .owl-dots .owl-dot span {
  background: #b5b5b5;
  border: 7px solid #b5b5b5;
}

.bratlee-slider.owl-theme .owl-nav.disabled + .owl-dots {
  justify-content: flex-start;
}
.three-slider.owl-theme .owl-dots .owl-dot span,
.bratlee-slider.owl-theme .owl-dots .owl-dot span,
.dishes.owl-theme .owl-dots .owl-dot span,
.choosecategory.owl-theme .owl-dots .owl-dot span {
  background: #b5b5b5;
  border: 7px solid #b5b5b5;
}
